/** @format */

// Partials

@use "mixins";
@use "variables";

/* Font imports */

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

/* ---- General Styles [elements] */

body {
	font-family: "Red Hat Display", sans-serif;
	text-align: center;
	background-color: variables.$white;
	font-weight: 600;
}

h1,
h2 {
	@include mixins.shadow-text;
	font-weight: 900;
	color: variables.$slate-900;
}

h1 {
	@include mixins.text-preset-1;
}

h2 {
	@include mixins.text-preset-2;
}

p {
	margin-block: variables.$space-300;
	color: variables.$slate-600;
}
/* ----- Components [Blocks, Exceptions] */

/* --- Page sections --- */

/* Page header */

.header {
	margin-block-start: variables.$fluid-space-600-1000;
}

.hero {
	margin-block-start: variables.$fluid-fs-52-64;
	margin-block-end: variables.$space-400;
}

.hero-full {
	margin-block-end: variables.$fluid-fs-44-72;
	margin-inline: auto;
}

.hero-left,
.hero-right {
	display: none;
}

.hero-content-inner-wrapper {
	max-width: variables.$breakpoint-hero;
	margin-inline: auto;
}
@media (min-width: variables.$breakpoint-desktop) /* 1024px */ {
	.hero {
		display: grid;
		grid-template-areas: "left-image header-content right-image";
		grid-template-columns: 2fr 3fr 2fr;
		align-items: center;
	}

	.hero-full {
		display: none;
	}

	.hero-left,
	.hero-right {
		display: block;
	}

	.hero-left {
		grid-area: left-image;
	}

	.hero-right {
		grid-area: right-image;
		justify-self: end;
	}

	.hero-content {
		grid-area: header-content;
	}
}

/* features */

.features {
	margin-block-start: variables.$fluid-space-56-120;
}

.features .marker::before {
	content: "01";
}

.chatting-images {
	display: flex;
	flex-wrap: wrap;
	gap: variables.$fluid-space-16-32;
	margin-inline: auto;
	justify-content: center;
	margin-block: variables.$space-800;
}

.chatting-images img {
	@include mixins.shadow-sm;
	flex: 1 0 7rem;
	aspect-ratio: 1 / 1;
	min-width: 7rem; /* 7rem is working well on screen width 320px and scales well. */
	border-radius: 0.5rem;
	transition: transform 0.25s;

	&:is(:hover, :focus-visible) {
		transform: scale(1.05) rotateZ(-5deg);
	}
}

.features-header {
	max-width: variables.$space-6800;
	margin-inline: auto;
}

.sub-title-intro {
	@include mixins.text-preset-3;
	text-transform: uppercase;
	margin-block-end: variables.$space-200;
	font-weight: 900;
}

/* footer */

/* footer - content */

.footer {
	margin-block-start: variables.$space-2150;
	padding-block: variables.$space-800;
	color: variables.$white;
	position: relative;

	/* footer background */
	@include mixins.footer-bg("../../images/mobile/image-footer.jpg");

	@media (min-width: variables.$breakpoint-tablet) {
		@include mixins.footer-bg("../../images/tablet/image-footer.jpg");
	}

	@media (min-width: variables.$breakpoint-desktop) {
		@include mixins.footer-bg("../../images/desktop/image-footer.jpg");
	}
}

.marker-positioner-start {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, calc(variables.$marker-size / 2 - 100%));
}

.footer .marker::before {
	content: "02";
}

.footer-content {
	@media (min-width: variables.$breakpoint-desktop) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: variables.$footer-gap;
		justify-items: start;
		justify-content: start;
		text-align: start;
		align-items: center;
	}
}

.footer h2,
.footer p {
	color: inherit;
}

/* footer - attribution */

.attribution {
	@include mixins.text-preset-5;
	margin-block-start: variables.$fluid-space-16-32;
}

.attribution__link {
	&:not(:visited) {
		color: inherit;
	}
}

/* --- Smaller components --- */
.button {
	@include mixins.text-preset-5;
	padding: variables.$space-200 variables.$space-500;
	color: variables.$white;
	border-radius: variables.$pill-shaped-border;
	border: none;
	font-weight: 800;
	cursor: pointer;

	&[data-color="cyan"] {
		background-color: variables.$cyan-600;
	}

	&[data-color="purple"] {
		background-color: variables.$purple-600;
	}
}

.button:is(:hover, :focus-visible) {
	outline-offset: variables.$outline-offset;

	&[data-color="cyan"] {
		@include mixins.button-hover-color(
			variables.$cyan-300-hover,
			variables.$cyan-300-hover
		);
	}

	&[data-color="purple"] {
		@include mixins.button-hover-color(
			variables.$purple-300-hover,
			variables.$purple-300-hover
		);
	}

	&[data-variant="no-outline"] {
		outline: none;
	}
}

.marker {
	width: variables.$marker-size;
	height: variables.$marker-size;
	border-radius: 100%;
	border: variables.$marker-width solid variables.$marker-line-color;
	color: variables.$slate-600;
	font-weight: 900;
	display: grid;
	place-items: center;
	background-color: variables.$white;
}

.section-marker-line {
	width: variables.$marker-width;
	height: variables.$marker-line-height;
	background-color: variables.$marker-line-color;
}

/* ----- Compositions ------ */

button + button {
	margin: variables.$space-200 variables.$space-200 0;
}

/* ----- Utilities ----- */

/* layouts */

.outer-wrapper {
	max-width: variables.$breakpoint-large-screens;
	margin-inline: auto;
}

.wrapper {
	margin-inline: variables.$fluid-space-28-160;

	@media (min-width: variables.$breakpoint-desktop) /* 1024px */ {
		&.hero-content {
			margin-inline: 0;
			padding-inline: variables.$fluid-space-16-32;
		}
	}
}

.text-preset-5 {
	@include mixins.text-preset-5;
}

.center-inline {
	display: grid;
	justify-items: center;
}

/* color */

.color-cyan-300 {
	color: variables.$cyan-300;
}

.color-cyan-600 {
	color: variables.$cyan-600;
}

.color-purple-300 {
	color: variables.$purple-300;
}
