/** @format */
/** @format */
/* Font imports */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
/**
 * 
 * @format
 */
/* 1440px */
/* 96px */
/* ~4px */
/* ---- General Styles [elements] */
body {
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
  background-color: hsl(0, 0%, 98%);
  font-weight: 600;
}

h1,
h2 {
  text-shadow: 0 0.25em 0.25em hsl(240, 10%, 57%);
  font-weight: 900;
  color: hsl(240, 21%, 20%);
}

h1 {
  font-size: clamp(2.25rem, 1.75rem + 2.5vw, 4rem);
  line-height: 110%;
  letter-spacing: 0;
}

h2 {
  font-size: clamp(2rem, 1.8571rem + 0.7143vw, 2.5rem);
  line-height: 110%;
  letter-spacing: 0;
}

p {
  margin-block: 1.5rem;
  color: hsl(240, 10%, 57%);
}

/* ----- Components [Blocks, Exceptions] */
/* --- Page sections --- */
/* Page header */
.header {
  margin-block-start: clamp(3rem, 2.4286rem + 2.8571vw, 5rem);
}

.hero {
  margin-block-start: clamp(3.25rem, 3.0357rem + 1.0714vw, 4rem);
  margin-block-end: 2rem;
}

.hero-full {
  margin-block-end: clamp(2.75rem, 2.25rem + 2.5vw, 4.5rem);
  margin-inline: auto;
}

.hero-left,
.hero-right {
  display: none;
}

.hero-content-inner-wrapper {
  max-width: 28rem;
  margin-inline: auto;
}

@media (min-width: 64rem) {
  .hero {
    display: grid;
    grid-template-areas: "left-image header-content right-image";
    grid-template-columns: 2fr 3fr 2fr;
    align-items: center;
  }
  .hero-full {
    display: none;
  }
  .hero-left,
  .hero-right {
    display: block;
  }
  .hero-left {
    grid-area: left-image;
  }
  .hero-right {
    grid-area: right-image;
    justify-self: end;
  }
  .hero-content {
    grid-area: header-content;
  }
}
/* features */
.features {
  margin-block-start: clamp(3.5rem, 2.3571rem + 5.7143vw, 7.5rem);
}

.features .marker::before {
  content: "01";
}

.chatting-images {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(1rem, 0.7143rem + 1.4286vw, 2rem);
  margin-inline: auto;
  justify-content: center;
  margin-block: 4rem;
}

.chatting-images img {
  box-shadow: 0.25em 0.25em 0.25em 0 hsl(240, 21%, 20%);
  flex: 1 0 7rem;
  aspect-ratio: 1/1;
  min-width: 7rem; /* 7rem is working well on screen width 320px and scales well. */
  border-radius: 0.5rem;
  transition: transform 0.25s;
}
.chatting-images img:is(:hover, :focus-visible) {
  transform: scale(1.05) rotateZ(-5deg);
}

.features-header {
  max-width: 34rem;
  margin-inline: auto;
}

.sub-title-intro {
  font-size: 1rem;
  line-height: 110%;
  letter-spacing: 0.25rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-block-end: 1rem;
  font-weight: 900;
}

/* footer */
/* footer - content */
.footer {
  margin-block-start: 10.75rem;
  padding-block: 4rem;
  color: hsl(0, 0%, 98%);
  position: relative;
  /* footer background */
  background-image: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), url("../../images/mobile/image-footer.jpg");
  background-size: cover;
}
@media (min-width: 48rem) {
  .footer {
    background-image: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), url("../../images/tablet/image-footer.jpg");
    background-size: cover;
  }
}
@media (min-width: 64rem) {
  .footer {
    background-image: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), url("../../images/desktop/image-footer.jpg");
    background-size: cover;
  }
}

.marker-positioner-start {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, calc(1.75rem - 100%));
}

.footer .marker::before {
  content: "02";
}

@media (min-width: 64rem) {
  .footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
    justify-items: start;
    justify-content: start;
    text-align: start;
    align-items: center;
  }
}

.footer h2,
.footer p {
  color: inherit;
}

/* footer - attribution */
.attribution {
  font-size: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
  line-height: 150%;
  letter-spacing: 0;
  margin-block-start: clamp(1rem, 0.7143rem + 1.4286vw, 2rem);
}

.attribution__link:not(:visited) {
  color: inherit;
}

/* --- Smaller components --- */
.button {
  font-size: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
  line-height: 150%;
  letter-spacing: 0;
  padding: 1rem 2.5rem;
  color: hsl(0, 0%, 98%);
  border-radius: 999rem;
  border: none;
  font-weight: 800;
  cursor: pointer;
}
.button[data-color=cyan] {
  background-color: hsl(192, 37%, 48%);
}
.button[data-color=purple] {
  background-color: hsl(268, 34%, 53%);
}

.button:is(:hover, :focus-visible) {
  outline-offset: 0.125em;
}
.button:is(:hover, :focus-visible)[data-color=cyan] {
  background-color: hsl(192, 90%, 60%);
  outline: 0.3125em double hsl(192, 90%, 60%);
}
.button:is(:hover, :focus-visible)[data-color=purple] {
  background-color: hsl(268, 100%, 75%);
  outline: 0.3125em double hsl(268, 100%, 75%);
}
.button:is(:hover, :focus-visible)[data-variant=no-outline] {
  outline: none;
}

.marker {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  border: 0.125rem solid hsl(240, 18%, 85%);
  color: hsl(240, 10%, 57%);
  font-weight: 900;
  display: grid;
  place-items: center;
  background-color: hsl(0, 0%, 98%);
}

.section-marker-line {
  width: 0.125rem;
  height: 5rem;
  background-color: hsl(240, 18%, 85%);
}

/* ----- Compositions ------ */
button + button {
  margin: 1rem 1rem 0;
}

/* ----- Utilities ----- */
/* layouts */
.outer-wrapper {
  max-width: 90rem;
  margin-inline: auto;
}

.wrapper {
  margin-inline: clamp(1.75rem, -0.6071rem + 11.7857vw, 10rem);
}
@media (min-width: 64rem) {
  .wrapper.hero-content {
    margin-inline: 0;
    padding-inline: clamp(1rem, 0.7143rem + 1.4286vw, 2rem);
  }
}

.text-preset-5 {
  font-size: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
  line-height: 150%;
  letter-spacing: 0;
}

.center-inline {
  display: grid;
  justify-items: center;
}

/* color */
.color-cyan-300 {
  color: hsl(192, 90%, 77%);
}

.color-cyan-600 {
  color: hsl(192, 37%, 48%);
}

.color-purple-300 {
  color: hsl(268, 100%, 86%);
}

/*# sourceMappingURL=styles.css.map */
